<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/dogukanmermutlu/IdeaProjects/EvrekaProd">
        <classes>
            <class name="com.evreka.TestCases">
                <methods>
                    <include name="verifyLogin"/>

                    <include name="verifyLogout"/>

                    <include name="addNewRegion">
                        <parameter name="regionName" value="AutoTest-30"></parameter>
                    </include>

                    <include name="addNewDevice">
                        <parameter name="deviceId" value="11:123:264:EVR"></parameter>
                        <parameter name="deviceName" value="Auto Test Device - 30"></parameter>
                    </include>

                    <include name="addNewVehicle">
                        <parameter name="vehicleId" value="999137"></parameter>
                        <parameter name="vehiclePlate" value="06EVRK37"></parameter>
                    </include>

                    <include name="addNewEmployee">
                        <parameter name="employeeId" value="7795"></parameter>
                        <parameter name="employeeName" value="QA AutoTestEmployee-95"></parameter>
                        <parameter name="employeeCode" value="7795"></parameter>
                        <parameter name="employeePhoneNumber" value="05301221223"></parameter>
                    </include>

                    <include name="addNewShift">
                        <parameter name="shiftName" value="test025"></parameter>
                        <parameter name="eStartTime" value="15:15"></parameter>
                        <parameter name="lStartTime" value="16:16"></parameter>
                        <parameter name="length" value="11"></parameter>
                    </include>

                    <include name="addAsset">
                        <parameter name="assetName" value="AutomationTest Bin 29Sep-1"></parameter>
                        <parameter name="tagUid" value="23"></parameter>
                        <parameter name="brandField" value="BrandAutomationTest Bin 29Sep-1"></parameter>
                        <parameter name="atikTipiField" value="5"></parameter>
                    </include>
                </methods>
            </class>
        </classes>
    </test>
</suite>